<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <div class="container">
        <h2>Banni Satguru Ravidass Ji</h2>
        <p>The "Aadi Granth" is one of the world's greatest religious text book. It was established by Shri Guru Arjan Dev
            Ji. In this precious holy book, apart from six Guru Sahibs related to the ideology of Shri Guru Nanak Dev Ji, 30
            other Saints-Mahatmas, Sufi-Darveshes, Bhat Sahibs and respected devotees related to different religions, castes
            and times are recorded.
            
            We hope that through this mobile app we can reach the purpose, ideas and thoughts of "Satguru Ravidas Ji" to the
            people residing in every corner of the world.
            
            Sadh-Sangat is requested to feel free to send their suggestions for improvement of this app so that next time
            they can be benefited.
        </p>
    </div>


</body>
{% include script.html %}

</html>